body {
    color: black;
    background-color: salmon;
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
    top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: black;
}

form {
    display: flex;
    background-color: lightblue;
    flex-direction: column;
    gap: 10px;
    height: 650px;
    min-width: 450px;
    padding: 30px;
    border-radius: 4px;
    margin: 0px;
}

input {
    width: 280px;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
    color: black;
    padding: 10px;
    flex: wrap;
}

label {
    margin-top: 10px;
}

select {
    width: 300px;
    padding: 10px;
    border-style: solid;
    border-radius: 4px;
    margin-top: 10px;
}

.select-wrapper {
    padding-top: 20px;
}

textarea {
    width: 290px;
    height: 150px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 20px;
}

.checkbox-container {
    display: flex;
    margin-bottom: 10px;
}

.checkbox {
    position: absolute;
    left: 450px;
}

.input-title {
    position: relative;
    left: 25px;
}

button {
    width: 300px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-color: white;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: ease-out 0,3s;
    font-size: 16px;
    color: black;
    outline: none;
}

button:hover {
    box-shadow: inset 300px 0px 0px 0px lightgreen;
}